@import './_header'
@import './_intro'

h2, p, button
    font-family: 'Roboto', sans-serif
h1, h3, h4
    font-family: 'PT Serif', serif
button
    padding: 10px 20px
    border-radius: 5px
    border: none
.thick
    font-weight: 600
.salmon-bg
    background-color: #fd7d56
.salmon-color
    color: salmon
.w-300
    width: 600px
