header {
  background-color: #eaedff;
}
header p {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 50px;
  margin-left: 150px;
  margin-right: 150px;
}
header ul {
  list-style: none;
}

#intro {
  background-image: url(../../img/banner-bg.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
#intro p {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
#intro button {
  margin-top: 20px;
}

#order {
  padding: 100px;
}
#order #call {
  padding-bottom: 100px;
}
#order #call #contact {
  height: 300px;
  width: 350px;
}
#order #call #contact h2 {
  margin-bottom: 20px;
}
#order #call #contact div {
  margin-bottom: 17px;
}
#order #call #contact p {
  margin-bottom: 17px;
  font-size: 12px;
}
#order #call #contact a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
#order #call #contact button {
  margin-bottom: 17px;
  font-size: 14px;
}
#order #call #contact #number {
  background-color: #FE8071;
  padding-left: 55px;
  padding-right: 55px;
}
#order #call #contact #number p {
  margin-bottom: 0;
}
#order #menu {
  width: 85%;
}
#order #menu img {
  border: solid 10px #eaedff;
}

#book {
  background-image: url(../../img/book-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
}
#book #book-title {
  padding-top: 65px;
  padding-bottom: 25px;
}
#book #book-title #book-table {
  font-weight: bolder;
}

#book form {
  width: 370px;
  height: 290px;
  padding: 20px 15px;
}
#book form h3 {
  font-size: 25px;
}
#book form .container {
  height: 258px;
}
#book form .container select, #book form .container input {
  width: 140px;
  height: 35px;
  font-weight: 500;
  border-bottom: 1px solid #adb5bd;
  font-size: 15px;
}
#book form .container button {
  font-weight: 500;
}

.container .row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .row .col {
  padding: 0;
}

#featured {
  padding-top: 40px;
  padding-bottom: 120px;
}
#featured h2 {
  padding: 80px;
  font-weight: 600;
}

.food-card {
  background-color: #eaedff;
  padding: 25px;
}
.food-card h3 {
  font-size: 25px;
  border-bottom: solid #adb5bd 1px;
  padding: 5px;
}

.food-card-2 {
  width: 310px;
  padding-top: 20px;
}

.featured-text {
  background-color: white;
  padding: 15px;
}
.featured-text h4 {
  font-size: 20px;
  font-weight: 600;
}
.featured-text p {
  color: #adb5bd;
  font-size: 13px;
  margin: 0;
  font-weight: 500;
}

#breakfast {
  background-image: url(../../img/breakfast_item.jpg);
}

#lunch {
  background-image: url(../../img/lunch_item.jpg);
}

#dinner {
  background-image: url(../../img/dinner_item.jpg);
}

.featured-bg {
  display: flex;
  width: 310px;
  height: 180px;
  position: relative;
  margin-right: 0;
}

.price {
  background-color: #f8f9facc;
  padding: 10px 17px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 500;
}

#blog {
  background-color: #eaedff;
  padding: 60px 0;
}
#blog h2 {
  padding: 40px;
  font-weight: 600;
}
#blog #blog-container {
  width: 75%;
}

#blog-post-1 {
  background-image: url(../../img/blog_post_01.jpg);
}

#blog-post-2 {
  background-image: url(../../img/blog_post_02.jpg);
}

#blog-post-3 {
  background-image: url(../../img/blog_post_03.jpg);
}

#blog-post-4 {
  background-image: url(../../img/blog_post_04.jpg);
}

.blog-post {
  padding: 0;
}
.blog-post .row {
  margin: 0;
}

.blog-image {
  width: 270px;
  height: 237px;
  padding: 0;
  position: relative;
}

.blog-text {
  width: 270px;
  height: 237px;
  background-color: white;
  padding: 20px 15px;
}
.blog-text h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}
.blog-text p {
  color: #adb5bd;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}
.blog-text span {
  color: #8f959b;
  font-size: 12px;
  font-weight: 500;
}

.date {
  background-color: #f8f9facc;
  padding: 10px 17px;
  margin: 0;
  position: absolute;
  font-weight: 500;
}

.link {
  margin-top: 20px;
}
.link a {
  text-decoration: none;
  font-weight: 500;
}

#signup {
  background-image: url(../../img/signup-bg.jpg);
  height: 265px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
#signup h2 {
  margin-bottom: 40px;
}
#signup form input {
  border: none;
  height: 40px;
  width: 400px;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #e6e4e4;
  padding-bottom: 5px;
  padding-left: 10px;
}
#signup form button {
  background-color: #00000000;
  border: solid white 1px;
  color: white;
  height: 40px;
  width: 125px;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
}

h2, p, button {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

h1 {
  font-family: "Crimson Text", serif;
}

h3 {
  font-family: "Domine", serif;
}

h4 {
  font-family: "Crimson Text", serif;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
}

.thick {
  font-weight: 600;
}

.salmon-bg {
  background-color: #F96B5A;
}

.salmon-color {
  color: #F96B5A;
}

.w-300 {
  width: 600px;
}

/*# sourceMappingURL=style.css.map */
